{{ define "main" }}
<section class="mg-score">
    
    <h1>Vos résultats pour <span id="url"></span></h1> 
    <h2>Le <span id="date"></span></h2>

    <div class="results">
        <div id="res-ei" class="pill">
            <div class="gauge">
                <div class="top"></div>
                <div class="mid"></div>
                <div class="bot"></div>
            </div>
            <div class="score">
                <span id="s-ei">- -</span><br>sur 100
            </div>
            <div class="title">
                <span>Ecologie</span>
                <strong></strong>
                <strong></strong>
            </div>
        </div>
        <div id="resM-ei" class="progress hidden">
            <div class="title">Ecologie</div>
            <div class="score"><strong id="sM-ei">- -</strong>&nbsp;<span>sur 100</span></div>
            <div class="gauge">
                <div class="slime"></div>
            </div>
        </div>
        <div id="res-perf" class="pill">
            <div class="gauge">
                <div class="top"></div>
                <div class="mid"></div>
                <div class="bot"></div>
            </div>
            <div class="score">
                <span id="s-perf">- -</span><br>sur 100
            </div>
            <div class="title">
                <span>Performance</span>
                <strong></strong>
                <strong></strong>
            </div>
        </div>
        <div id="resM-perf" class="progress hidden">
            <div class="title">Performance</div>
            <div class="score"><strong id="sM-perf">- -</strong>&nbsp;<span>sur 100</span></div>
            <div class="gauge">
                <div class="slime"></div>
            </div>
        </div>
        <div id="res-acc" class="pill">
            <div class="gauge">
                <div class="top"></div>
                <div class="mid"></div>
                <div class="bot"></div>
            </div>
            <div class="score">
                <span id="s-acc">- -</span><br>sur 100
            </div>
            <div class="title">
                <span>Accessibilité</span>
                <strong></strong>
                <strong></strong>
            </div>
        </div>
        <div id="resM-acc" class="progress hidden">
            <div class="title">Accessibilité</div>
            <div class="score"><strong id="sM-acc">- -</strong>&nbsp;<span>sur 100</span></div>
            <div class="gauge">
                <div class="slime"></div>
            </div>
        </div>
        <div id="res-bp" class="pill">
            <div class="gauge">
                <div class="top"></div>
                <div class="mid"></div>
                <div class="bot"></div>
            </div>
            <div class="score">
                <span id="s-bp">- -</span><br>sur 100
            </div>
            <div class="title">
                <span>Best Practices</span>
                <strong></strong>
                <strong></strong>
            </div>
        </div>
        <div id="resM-bp" class="progress hidden">
            <div class="title">Best Practices</div>
            <div class="score"><strong id="sM-bp">- -</strong>&nbsp;<span>sur 100</span></div>
            <div class="gauge">
                <div class="slime"></div>
            </div>
        </div>
        <div id="res-seo" class="pill">
            <div class="gauge">
                <div class="top"></div>
                <div class="mid"></div>
                <div class="bot"></div>
            </div>
            <div class="score">
                <span id="s-seo">- -</span><br>sur 100
            </div>
            <div class="title">
                <span>SEO</span>
                <strong></strong>
                <strong></strong>
            </div>
        </div>
        <div id="resM-seo" class="progress hidden">
            <div class="title">SEO</div>
            <div class="score"><strong id="sM-seo">- -</strong>&nbsp;<span>sur 100</span></div>
            <div class="gauge">
                <div class="slime"></div>
            </div>
        </div>
        <div class="line"></div>
        <div id="res-pepper" class="pillB prez">
            <p><span>PEPPER</span><br>INDEX</p>
            <div></div>
            <p class="exp">Indicateur impact environnemental et performance</p>
            <p><span>52.8</span><br>sur 100</p>
        </div>
        <div id="res-carbon" class="pillB carbon prez">
            <p><span>CARBON</span><br>INDEX</p>
            <div>CO<sub>2</sub></div>
            <p class="exp">Estimation des rejets de CO2 du site</p>
            <p><span>1.33</span><br>grammes</p>
        </div>
    </div>
    <div class="links">
        <span onclick="contentToggle('moreInfo','whyTest')">Comprendre mes résultats</span><span>&nbsp;|&nbsp;</span><span onclick="contentToggle('whyTest','moreInfo')">Pourquoi Tester ?</span>
    </div>
    <a href="{{ ref . "contact" }}" class="callme">Une question ? Contactez-nous</a>
</section>

{{ with .Site.GetPage "_index.md" }}
{{ $cols := split .Content "|||||" }}
<section id="moreInfo" class="content hidden">
    {{ index $cols 0 | safe.HTML }}
</section>

<section id="whyTest" class="content hidden">
    {{ index $cols 1 | safe.HTML }}
</section>
{{ end }}
{{ end }}