/* Color definition */
$c_kaki : #40615E;
$c_grey : #EDEDED;
$c_dgrey : #909090;
$c_yellow : #DDE8C2;
$c_blue : #161B4B;
$c_white : #fff;
$c_Rred : #C8222C;
$c_Rorange : #F4AB00;
$c_Rgreen : #1CAF9C;
$c_blueIce : #41C0F0;
$c_blueDenim : #1D70B7;