/* Color definition */
$c_kaki : #40615E;
$c_grey : #EDEDED;
$c_dgrey : #909090;
$c_yellow : #DDE8C2;
$c_white : #fff;
$c_Rred : #C8222C;
$c_Rorange : #F4AB00;
$c_Rgreen : #1CAF9C;
$c_blueDenim : #1D70B7;




$c_greenDark : #293d3c;
$c_greenDarker : #151F1E;
$c_greenLight : #DDE8C2;
$c_white : #FFF;
$c_blueIce : #41C0F0;
$c_blueDark : #161B4B;

$c_blueRes : #90e9eb;
$c_greenRes : #83be61;
$c_yellowRes : #fac664;
$c_orangeRes : #eb8900;
$c_redRes : #f96443;