@import 'normalize';
@include normalize();


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined&display=swap');

/* Color definition */
$c_kaki : #40615E;
$c_lgrey : #EDEDED;
$c_yellow : #DDE8C2;
$c_blue : #161B4B;
$c_white : #fff;
$c_Rred : #C8222C;
$c_Rorange : #F4AB00;
$c_Rgreen : #1CAF9C;
$c_blueIce : #41C0F0;

body {font-family: 'Poppins', Verdana, sans-serif;}
html {background: #fff;color: $c_blue;}
header, #content section {width: 63.75rem;margin:auto;}
#content {min-height: calc(100vh - 18.375rem);}
#content section {margin-bottom:5rem;}

.hidden {display: none;}
.unvisible {visibility: hidden;}

header {position: relative;height: 10.375rem;margin-bottom: 4.75rem;}
header a img {padding-top:1rem;}
header .version {position:absolute;transform: rotate(-90deg);right:-1.4rem;top: 1.4rem;width:4.5rem;height: 4.6875rem;background-color: $c_kaki;border-radius: 2.3rem 0 0 2.3rem;font-size: 1.5rem;font-weight: bold;color:$c_lgrey;text-transform: uppercase;line-height:8.2rem;padding-left: 3rem;}

footer {background-color: $c_blue;color:$c_blueIce;min-height: 3.25rem;line-height: 3.25rem;vertical-align: middle;text-align: center;}
footer a {text-decoration: none;color: $c_white;}

h1 {font-size: 4.5rem;margin:0 0 1rem 0;}
.mg-score h1 {font-size: 3.5rem}

#res-pepper, .links, #moreInfo {content-visibility: auto;}

.mg fieldset {width:100%;height:4.2rem;padding:0;border: 0.15rem solid $c_kaki;border-radius: 2.1rem;display: flex;justify-content: center;margin:3.75rem 0;
    label {width: 5%;line-height: 4.2rem;}
    input, label {font-family: 'Poppins', Verdana, sans-serif;}
    input, button, label {color: $c_kaki;border: 0;background-color: $c_white;}
    input[type=url] {width: 77%;}
    button {width: 8%;cursor: pointer;font-size: 3rem;}
}

#waiting {margin:3.75rem auto;width: auto;display: flex;justify-content: center;align-items: center;font-size: 1.25rem;
    &.error {color: $c_Rred;
        .material-icons-outlined {animation: none;}
    }
    .material-icons-outlined {font-size: 2rem;margin-left:1.5rem;animation: 1.5s linear 0s infinite normal none loading;}
}
@keyframes loading{
    from {transform: rotate(0deg);} to {transform: rotate(360deg);}
} 

@keyframes slime {
    from {height: 4.5rem;} to {height: 13.5rem;}
}
@keyframes level {
    from {transform: rotate(-3deg);} to {transform: rotate(3deg);}
}
@keyframes level-up {
    from {bottom:3.75rem;} to {bottom:12.75rem}
}
@keyframes b1 {
    from {bottom: 2rem} to {bottom:4rem;}
    from {opacity: 0.5;} to {opacity: 0;}
}
@keyframes b2 {
    from {bottom: 1rem} to {bottom:2.5rem;}
    from {opacity: 0.5;} to {opacity: 0;}
}

@keyframes b3 {
    from {bottom: 2.5rem} to {bottom:4rem;}
    from {opacity: 0.5;} to {opacity: 0;}
}

@keyframes mergeColor {
    from {color: $c_white;} to {color: $c_Rred;}
}

@keyframes blur {
    from {opacity: 1;} to {opacity: 0;}
}


.resultats {width:45rem;margin:0 auto;display: flex;align-items: center;justify-content: space-between;flex-wrap: wrap;}
.resultats .pill {
    position: relative;
    margin-bottom: 2.5rem;
    width: 7.5rem;
    height: 17.5rem;
    border-radius: 3.75rem;
    background-color: $c_blue;
    .slime {position: absolute;width: 7rem;height: 4.5rem;bottom: 0.25rem;background-color: $c_white;border-radius: 0 0 3.5rem 3.5rem;margin:0 auto;left:-50%;right:-50%;z-index: 1;
    }
    .level {position: absolute;width: 7.2rem;height: 2rem;bottom: 3.75rem;background-color:$c_blue;margin:0 auto;left:-50%;right:-50%;z-index: 2;}
    .bubble {position: absolute;width: 0.5rem;height: 0.5rem;background-color: $c_blue;border-radius: 1rem;bottom:2rem;right:1rem;z-index: 3;opacity: 0.5;
        &.b1 {animation: 2s ease-in 0s infinite forwards b1;}
        &.b2 {width: 1rem;height: 1rem;right: 2rem;bottom:1rem;animation: 1s ease-in 1.5s infinite forwards b2;}
        &.b3 {width: 0.8rem;height: 0.8rem;right: 1.8rem;bottom:2.5rem;animation: 1.8s ease-in 1s infinite forwards b3;}
    }
    .title {position: absolute;color: $c_white;font-weight: bold;font-size: 1.75rem;z-index: 4;bottom:4.5rem;left:0.8rem;
        span {display: block;font-size: 1rem;}
    }

    .score {position: absolute;color: $c_white;font-weight: bold;font-size: 1.75rem;z-index: 4;top:1rem;text-align:center;left:-50%;right: -50%;line-height:1.2rem;
        span {display: block;font-size: 0.75rem;}
    }

    &.red {
        background-color: $c_Rred;
        .level, .bubble {background-color: $c_Rred;}
        .title {color: $c_white;}
    }

    &.orange {
        background-color: $c_Rorange;
        .level, .bubble {background-color: $c_Rorange;}
    }

    &.green {
        background-color: $c_Rgreen;
        .level, .bubble {background-color: $c_Rgreen;}
    }

    &.mixDiff {
        .title {mix-blend-mode: difference;}
    }

    //Manage specific animation
    &#res-ei.animated {
        .slime {animation: 2s ease-in-out 0s 1 forwards slime-EI;}
        .level {animation: 2s ease-in-out 0s 1 forwards level-up-EI, 1s ease-in-out 0s 2.5 alternate level;}
        .title {animation: 1s ease-in-out 0s 2 alternate blur, 1s ease-in-out 0s 1 forwards mergeColor-EI;}
    }

    &#res-perf.animated {
        .slime {animation: 2s ease-in-out 0s 1 forwards slime-PERF;}
        .level {animation: 2s ease-in-out 0s 1 forwards level-up-PERF, 1s ease-in-out 0s 2.5 alternate level;}
        .title {animation: 1s ease-in-out 0s 2 alternate blur, 1s ease-in-out 0s 1 forwards mergeColor-PERF;}
    }

    &#res-acc.animated {
        .slime {animation: 2s ease-in-out 0s 1 forwards slime-ACC;}
        .level {animation: 2s ease-in-out 0s 1 forwards level-up-ACC, 1s ease-in-out 0s 2.5 alternate level;}
        .title {animation: 1s ease-in-out 0s 2 alternate blur, 1s ease-in-out 0s 1 forwards mergeColor-ACC;}
    }

    &#res-bp.animated {
        .slime {animation: 2s ease-in-out 0s 1 forwards slime-BP;}
        .level {animation: 2s ease-in-out 0s 1 forwards level-up-BP, 1s ease-in-out 0s 2.5 alternate level;}
        .title {animation: 1s ease-in-out 0s 2 alternate blur, 1s ease-in-out 0s 1 forwards mergeColor-BP;}
    }

    &#res-seo.animated {
        .slime {animation: 2s ease-in-out 0s 1 forwards slime-SEO;}
        .level {animation: 2s ease-in-out 0s 1 forwards level-up-SEO, 1s ease-in-out 0s 2.5 alternate level;}
        .title {animation: 1s ease-in-out 0s 2 alternate blur, 1s ease-in-out 0s 1 forwards mergeColor-SEO;}
    }
}

.resultats .bigPill {
    width: 45rem;
    height: 7.5rem;
    background-color: $c_yellow;
    flex-basis: 100%;
    border-radius: 3.75rem;
    display: flex;justify-content:center;align-items:center;
    .pepper {position: relative;
        span {position: absolute;left:1.15rem;top:0.9rem;font-size: 3rem;font-weight: bold;color: $c_white;}
    }

    &.A {
        svg path:first-child {fill: #90E9EB;}
        .grade::after {content: "A";}
    }
    &.B {
        svg path:first-child {fill: #8CE100;}
        .grade::after {content: "B";}
    }
    &.C {
        svg path:first-child {fill: #FCCC00;}
        .grade::after {content: "C";}
    }
    &.D {
        svg path:first-child {fill: #F67500;}
        .grade::after {content: "D";}
    }
    &.E {
        svg path:first-child {fill: #9D0000;}
        .grade::after {content: "E";}
    }

    .index {
        font-size: 1.25rem;font-weight: bold;line-height:1rem;padding:0 1rem;
        span {font-size: 1rem;font-weight: normal;}
    }
    .score {font-size: 1.25rem;font-weight: bold;}
    &.done {
        background-color: #f0f9e2;
    }
    #link2Share {padding-left: 1rem;font-size: 3rem;text-decoration: none;color: $c_blue;font-weight: bold;} 
}

.resultats .progress{width: 100%;margin-bottom:1.5rem;
    .title {font-size: 1.5rem;font-weight: bold;float: left;padding-bottom: 0.5rem;}
    .score {float: right;font-size:1.5rem;padding-bottom: 0.5rem;
        span {font-size: 1rem;}
    }
    .gauge {background-color: $c_yellow;clear: both;}
    .gauge, .slime {width: 100%;height: 1rem;border-radius: 0.5rem;
    }

    &.red {
        .score strong {color: $c_Rred;}
        .slime {background-color: $c_Rred;}
    }

    &.orange {
        .score strong {color: $c_Rorange;}
        .slime {background-color: $c_Rorange;}
    }

    &.green {
        .score strong {color: $c_Rgreen;}
        .slime {background-color: $c_Rgreen}
    }
}

.links {padding-top:2rem ;display: flex;justify-content: center;
    span:nth-child(odd) {text-decoration: underline;cursor: pointer;}
}

.content {padding-top:2rem;border-top:0.25rem dashed $c_blue;
    img {max-width: 100%;}
}

/* Mobile version */
@import 'mobile';