/* Import SCSS */
@import 'normalize';

/* Import Fonts */
@import 'fonts';

/* Import Colors */
@import 'colors';

body {font-family: 'Poppins', Verdana, sans-serif;}
html {background:$c_greenDark;color: $c_white;}
header, #content section {width: 63.75rem;margin:auto;}
#content {min-height: calc(100vh - 18.375rem);}
#content section {margin-bottom:5rem;}

#link2Share {color:$c_white;text-decoration: none;line-height: 2rem;display: flex;justify-content:space-around;align-items: center;background-color: $c_blueDark;width: 16rem;margin:0 auto;padding:.5rem;border-radius: 1.5rem;}
.share_buttons{display: flex;justify-content: center;}
.hidden {display: none!important;}
.unvisible {visibility: hidden;}

header {position: relative;height: 10.375rem;margin-bottom: 4.75rem;}
header a img {padding-top:1rem;}
header .version {position:absolute;transform: rotate(-90deg);right:-1.4rem;top: 1.4rem;width:7rem;height: 3.5rem;background-color: $c_greenLight;border-radius: 2.3rem 0 0 2.3rem;font-size: 1.5rem;font-weight: bold;color:$c_greenDark;text-transform: uppercase;line-height:3.5rem;padding-top:1.3rem;box-sizing: border-box;text-align: center;}

/* Buttons sizes and dyslexia */
.bord{ height: 2rem; display: flex; position: absolute; width: 20.5rem;top:2rem;right: 5rem;
    button {font-size : 1rem; margin: auto; cursor: pointer; color: $c_white;background: none;border: none;}
    span{color:$c_kaki; margin: auto;}
}

footer {background-color: $c_blueDark;color:$c_blueIce;min-height: 3.25rem;line-height: 3.25rem;vertical-align: middle;text-align: center;}
footer a {text-decoration: none;color: $c_white;}

h1 {font-size: 4.5rem;margin:0 0 1rem 0;}
.mg-score h1 {font-size: 2.5rem}

#res-pepper, .links, #moreInfo {content-visibility: auto;}

.mg, .mg-score {position: relative;
    .callme {text-decoration: none;background-color: $c_blueIce;color: $c_blueDark;width: 17.8125rem;height: 3rem;border-radius: 0.5rem;position: absolute;text-align: center;line-height: 3rem;right:0;top:1rem;font-weight: bold;}
}

.mg fieldset {width:100%;height:4.2rem;background-color:$c_white;padding:0;border:none;border-radius: .5rem;display: flex;justify-content: center;margin:3.75rem 0;
    label {width: 5%;line-height: 4.2rem;}
    input, label {font-family: 'Poppins', Verdana, sans-serif;}
    input, button, label {color: $c_kaki;border: 0;background-color: $c_white;}
    input[type=url] {width: 77%;}
    button {width: 8%;cursor: pointer;font-size: 3rem;}
}
.share_buttons{display:flex; justify-content: center;}
.share_buttons button{margin:0 1.25rem; background-color: #293d3c;border:none;cursor: pointer;color:#fff; text-decoration: underline;}

/*Score*/
#score {position:absolute;top:32rem;right:0;width:13rem;height:4rem;z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
    color: $c_white;
    font-size: .75rem;
    background: $c_blueDark url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='24.727' fill='%23fff' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M31.575 12.942c-.5-.458-1.456.632-2.351 1.485s-3.086 2.235-7.308-.168c-1.629-.927-7.658-9.523-10.134-11.026-.821-.522-1.758-.835-2.728-.912a1.05 1.05 0 0 1 .527.321c.825.966-.545 3.443-3.061 5.531s-5.225 3-6.05 2.031a1 1 0 0 1-.222-.51c-.019.061-.041.121-.058.182 0 0-2.173 6.409 8.27 12.354s17.719-.5 18.561-1.171c.924-.743 6.55-6.299 4.554-8.117zM.898 8.873c.5.587 2.548-.3 4.571-1.979s3.257-3.517 2.756-4.1c-.4-.466-1.771 0-3.333 1.049A2.1 2.1 0 0 1 3.815 2.5C3.733 1.83 3.83.64 3.709.3a.3.3 0 0 0-.068-.184c-.224-.262-.932-.038-1.582.5s-.995 1.189-.771 1.451a8.63 8.63 0 0 0 1.628 3.356h0C1.343 6.9.461 8.361.898 8.873z'/%3E%3C/svg%3E") 1.375rem 1.375rem no-repeat;
    border-radius: 2rem 0 0 2rem;
    padding:1.15rem 0 0 4.15rem;
    box-sizing: border-box;
    cursor: pointer;
    > .material-icons-outlined {position: absolute;right:0.5rem;top:1.5rem;}
    b {font-size: 1rem;}
    .details {position: absolute;top:4.8rem;right:1rem;background-color:$c_white;padding:.75rem;color: $c_blueDark;white-space: nowrap;border-radius:0.5rem;
        .material-icons-outlined {position: absolute;right:0;top:-1.1rem;font-size: 2rem;color: $c_white;}
    }

}

#waiting {margin:3.75rem auto;width: auto;display: flex;justify-content: center;align-items: center;font-size: 1.25rem;
    &.error {color: $c_redRes;
        .material-icons-outlined {animation: none;}
    }
    .material-icons-outlined {font-size: 2rem;margin-left:1.5rem;animation: 1.5s linear 0s infinite normal none loading;}
}
@keyframes loading{
    from {transform: rotate(0deg);} to {transform: rotate(360deg);}
}

.results {display: flex;justify-content:space-between;margin-bottom:4.5rem;
    .pill {width: 6.25rem;height:17.5rem;box-sizing: border-box;border:2px solid $c_white;border-radius: 3.75rem;
        position: relative;display:flex;flex-direction:column-reverse;
        .gauge {width:5.25rem;margin:0 auto .375rem;
            .top, .bot {background-color: $c_white;height:2.625rem;}
            .mid {height: 0;background-color: $c_white;}
            .top {border-radius: 3.75rem 3.75rem 0 0;}
            .bot {border-radius: 0 0 3.75rem 3.75rem;}

        }
        .score {position: absolute;width:5.25rem;margin:0 .375rem;text-align: center;color: $c_greenDark;bottom:1.5rem;
            span {font-weight: bold;font-size: 1.75rem;}
        }
        .title {position: absolute;text-align: center;left:-.5rem;bottom:-4.5rem;font-size: 1rem;
            width:7.25rem;line-height:1.25rem;min-height:3.75rem;
            strong{font-size: .75rem;}
            span, strong {display: block;}
        }

        &.green {
            .top, .mid, .bot {background-color: $c_greenRes;}
        }
        &.yellow {
            .top, .mid, .bot {background-color: $c_yellowRes;}
        }
        &.red {
            .top, .mid, .bot {background-color: $c_redRes;}
        }

        &#res-ei.animated {
            .mid {animation: 1s ease-in-out 0s 1 forwards level-up-EI;}
        }
        &#res-perf.animated {
            .mid {animation: 1s ease-in-out 0s 1 forwards level-up-PERF;}
        }
        &#res-acc.animated {
            .mid {animation: 1s ease-in-out 0s 1 forwards level-up-ACC;}
        }
        &#res-bp.animated {
            .mid {animation: 1s ease-in-out 0s 1 forwards level-up-BP;}
        }
        &#res-seo.animated {
            .mid {animation: 1s ease-in-out 0s 1 forwards level-up-SEO;}
        }
    }
    .line{width:.125rem;background-color: $c_white;}
    .pillB {width: 7.5rem;height: 17.5rem;border-radius: 6.25rem;background-color: $c_white;color: $c_greenDark;
        display: flex;flex-direction: column;justify-content: space-evenly;
        div {height:4.375rem;color:$c_white;background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='24.727' fill='%23293d3c' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M31.575 12.942c-.5-.458-1.456.632-2.351 1.485s-3.086 2.235-7.308-.168c-1.629-.927-7.658-9.523-10.134-11.026-.821-.522-1.758-.835-2.728-.912a1.05 1.05 0 0 1 .527.321c.825.966-.545 3.443-3.061 5.531s-5.225 3-6.05 2.031a1 1 0 0 1-.222-.51c-.019.061-.041.121-.058.182 0 0-2.173 6.409 8.27 12.354s17.719-.5 18.561-1.171c.924-.743 6.55-6.299 4.554-8.117zM.898 8.873c.5.587 2.548-.3 4.571-1.979s3.257-3.517 2.756-4.1c-.4-.466-1.771 0-3.333 1.049A2.1 2.1 0 0 1 3.815 2.5C3.733 1.83 3.83.64 3.709.3a.3.3 0 0 0-.068-.184c-.224-.262-.932-.038-1.582.5s-.995 1.189-.771 1.451a8.63 8.63 0 0 0 1.628 3.356h0C1.343 6.9.461 8.361.898 8.873z'/%3E%3C/svg%3E") no-repeat center/72%;
            font-size: 3rem;font-weight: bold;box-sizing: border-box;
            padding:1rem 0 0 2.2rem;
        }
        p {margin:0;}
        p:first-of-type {text-align: center;
            span {font-weight: bold;font-size: 1.25rem;}
        }
        p.exp {display:none;font-size: 0.7rem;line-height:1rem;padding:0 .6rem;text-align: center;}
        p:last-of-type {text-align: center;position:relative;bottom:-.125rem;height:3rem;
            span{font-weight: bold;font-size: 1.75rem;}
        }
        &.carbon {
            div {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='64' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M67.57 18.705a24.43 24.43 0 0 0-7.522-12.612A24 24 0 0 0 44.075 0C30.677.079 19.871 10.988 19.919 24.386q0 .313.008.626-.307-.01-.613-.01c-10.77 0-19.5 8.73-19.5 19.5s8.73 19.5 19.5 19.5h48.252c12.406-.143 22.388-10.24 22.388-22.648S79.972 18.85 67.566 18.707z' fill='%23293d3c'/%3E%3C/svg%3E");
            font-size: 1.75rem;
            padding:1.8rem 0 0 2.3rem;
            sub{font-size: 1rem;}
            }
        }
        &.prez {p.exp {display: block;}p:last-of-type{display: none;}}
        &.blue {background-color: $c_blueRes;div{color: $c_blueRes;}}
        &.green {background-color: $c_greenRes;div{color: $c_greenRes;}}
        &.yellow {background-color: $c_yellowRes;div{color: $c_yellowRes;}}
        &.orange {background-color: $c_orangeRes;div{color: $c_orangeRes;}}
        &.red {background-color: $c_redRes;div{color: $c_redRes;}}
        &.blueIce {background-color: $c_blueIce;div{color: $c_blueIce;}}
    }
}

.links {padding-top:2rem ;display: flex;justify-content: center;
    span:nth-child(odd) {text-decoration: underline;cursor: pointer;}
}

.content {padding-top:2rem;border-top:0.25rem dashed $c_greenLight;
    a {color:$c_greenLight;}
    img {max-width: 100%;}
}

/* Contact */
#content .contact {
    margin:5rem auto;width:63.75rem;
    i {font-size: 0.8rem;}
    h1 {font-size: 4.5rem;font-weight: bold;margin:2rem 0 1rem;}
    form {margin:2rem 0;}
    hr {border: none;margin: 2rem;}
    label {line-height: 1.5rem;}
    .grid {display: grid;grid-template-columns: 1fr 1fr;column-gap: 1.875rem;}
    input[type=text], input[type=email], input[type=tel], textarea {display: block;width: 30.9375rem;height:3rem;border-radius: 0.25rem;border:0.1rem solid $c_dgrey ;box-sizing: border-box;}
    input[type=radio] {display: inline;margin-right:1rem;}
    .radio label {margin-right:2rem;}
    textarea {width: 100%;height: 9rem;}
    .hidden {display: none;}
    button {width:17.8125rem;height:3rem;background-color: $c_blueIce;color: $c_blueDark;font-weight: bold;border-radius: 0.3rem;cursor: pointer;border: none;display: block;margin:3rem auto 0;}
}

/* Cookies */
aside.cookies {height:4.125rem;background-color: $c_kaki;display: flex;align-items:center; justify-content: center; position:fixed; bottom: 0; width: 100%; z-index: 4;
    div {color:$c_white;font-size: 0.8rem; }
    button {cursor: pointer;width:8.75rem;height: 2.25rem;border:none;border-radius: 0.5rem;background-color: $c_white;text-align: center;line-height: 2.25rem;color: $c_blueDark;margin-left:1rem;}
}

// Change the sizes
html.fz200{font-size: 200%;
    #content {overflow: visible;}
    #s-desc, #s-pollue, #s-injuste, #wrapSV {content-visibility: visible;}
}
html.fz150{font-size: 150%;
    #content {overflow: visible;}
    #s-desc, #s-pollue, #s-injuste, #wrapSV {content-visibility: visible;}
}
html.fz125{font-size: 125%;}
html.fz110{font-size: 110%;}
html.fz90{font-size: 90%;}

//change the font
body.opendys{font-family: "OpenDys" !important;}

/* Mobile version */
@import 'mobile';