{{ define "main" }}
<div id="score" onclick="score()">
    Cette page émet<br>
    <b>0,19g de CO2</b>
    <div class="material-icons-outlined">arrow_drop_down</div>
    <div class="details hidden">
        <div class="material-icons-outlined">arrow_drop_up</div>
        C'est mieux que 86% des sites testés<br>d'après <a href="https://www.websitecarbon.com/" target="_blank" title="Testeur de site websitecarbon" rel="NOFOLLOW noopener noreferer">WebSiteCarbon</a>
    </div>
</div>
<section class="mg">
    <h1>Testez votre site</h1>
    <p>Dans quelques secondes, vous saurez combien votre site pollue, s'il est accessible et s'il est performant !</p>

    <fieldset>
        <label for="url2test">URL :</label>
        <input name="url2test" id="url2test" type="url" onfocus="this.value=''" value="Saisissez l'url du site à tester sous la forme http://www.monsite.fr"><button type="button" class="material-icons-outlined" id="url2testButton" onclick="launch(document.getElementById('url2test').value)">search</button>
    </fieldset>

    <div id="waiting" class="unvisible">
        <div class="txt">Veuillez patienter...</div>
        <div class="material-icons-outlined">refresh</div>
    </div>

    <div class="results">
        <div class="pill">
            <div class="gauge">
                <div class="top"></div>
                <div class="mid"></div>
                <div class="bot"></div>
            </div>
            <div class="score">
                <span>- -</span><br>sur 100
            </div>
        </div>
        <div class="pill">
            <div class="gauge">
                <div class="top"></div>
                <div class="mid"></div>
                <div class="bot"></div>
            </div>
            <div class="score">
                <span>- -</span><br>sur 100
            </div>
        </div>
        <div class="pill">
            <div class="gauge">
                <div class="top"></div>
                <div class="mid"></div>
                <div class="bot"></div>
            </div>
            <div class="score">
                <span>- -</span><br>sur 100
            </div>
        </div>
        <div class="pill">
            <div class="gauge">
                <div class="top"></div>
                <div class="mid"></div>
                <div class="bot"></div>
            </div>
            <div class="score">
                <span>- -</span><br>sur 100
            </div>
        </div>
        <div class="pill prez">
            <div class="gauge">
                <div class="top"></div>
                <div class="mid"></div>
                <div class="bot"></div>
            </div>
            <div class="score">
                <span>- -</span><br>sur 100
            </div>
        </div>
        <div class="line"></div>
        <div class="pillB prez">
            <p><span>PEPPER</span><br>INDEX</p>
            <div></div>
            <p class="exp">Indicateur impact environnemental et performance</p>
            <p><span>52.8</span><br>sur 100</p>
        </div>
        <div class="pillB carbon prez">
            <p><span>CARBON</span><br>INDEX</p>
            <div>CO<sub>2</sub></div>
            <p class="exp">Estimation des rejets de CO2 du site</p>
            <p><span>1.33</span><br>grammes</p>
        </div>
    </div>

    <div class="resultats">
        <div id="res-ei" class="pill">
            <div class="level"></div>
            <div class="slime"></div>
            <div class="bubble b1"></div>
            <div class="bubble b2"></div>
            <div class="bubble b3"></div>
            <div class="title">ECO<span>logie</span></div>
            <div class="score"><strong id="s-ei">--</strong><span>sur 100</span></div>
        </div>
        <div id="res-perf" class="pill">
            <div class="level"></div>
            <div class="slime"></div>
            <div class="bubble b1"></div>
            <div class="bubble b2"></div>
            <div class="bubble b3"></div>
            <div class="title">PERF<span>ormance</span></div>
            <div class="score"><strong id="s-perf">--</strong><span>sur 100</span></div>
        </div>
        <div id="res-acc" class="pill">
            <div class="level"></div>
            <div class="slime"></div>
            <div class="bubble b1"></div>
            <div class="bubble b2"></div>
            <div class="bubble b3"></div>
            <div class="title">ACCES<span>sibilité</span></div>
            <div class="score"><strong id="s-acc">--</strong><span>sur 100</span></div>
        </div>
        <div id="res-bp" class="pill">
            <div class="level"></div>
            <div class="slime"></div>
            <div class="bubble b1"></div>
            <div class="bubble b2"></div>
            <div class="bubble b3"></div>
            <div class="title">BEST<span>practices</span></div>
            <div class="score"><strong id="s-bp">--</strong><span>sur 100</span></div>
        </div>
        <div id="res-seo" class="pill">
            <div class="level"></div>
            <div class="slime"></div>
            <div class="bubble b1"></div>
            <div class="bubble b2"></div>
            <div class="bubble b3"></div>
            <div class="title">SEO<span>&nbsp;</span></div>
            <div class="score"><strong id="s-seo">--</strong><span>sur 100</span></div>
        </div>
        <div id="resM-ei" class="progress hidden">
            <div class="title">Ecologie</div>
            <div class="score"><strong id="sM-ei">--</strong>&nbsp;<span>sur 100</span></div>
            <div class="gauge">
                <div class="slime"></div>
            </div>
        </div>
        <div id="resM-perf" class="progress hidden">
            <div class="title">Performance</div>
            <div class="score"><strong id="sM-perf">--</strong>&nbsp;<span>sur 100</span></div>
            <div class="gauge">
                <div class="slime"></div>
            </div>
        </div>
        <div id="resM-acc" class="progress hidden">
            <div class="title">Accessibilité</div>
            <div class="score"><strong id="sM-acc">--</strong>&nbsp;<span>sur 100</span></div>
            <div class="gauge">
                <div class="slime"></div>
            </div>
        </div>
        <div id="resM-bp" class="progress hidden">
            <div class="title">Best Practices</div>
            <div class="score"><strong id="sM-bp">--</strong>&nbsp;<span>sur 100</span></div>
            <div class="gauge">
                <div class="slime"></div>
            </div>
        </div>
        <div id="resM-seo" class="progress hidden">
            <div class="title">SEO</div>
            <div class="score"><strong id="sM-seo">--</strong>&nbsp;<span>sur 100</span></div>
            <div class="gauge">
                <div class="slime"></div>
            </div>
        </div>
        <div id="res-pepper" class="bigPill">
            <div class="pepper">
                <svg xmlns="http://www.w3.org/2000/svg" width="90" height="70">
                    <path d="M88.8 36.637c-1.413-1.3-4.1 1.788-6.613 4.2s-8.681 6.327-20.555-.476c-4.583-2.625-21.539-26.957-28.5-31.214a16.7 16.7 0 0 0-7.672-2.581 2.95 2.95 0 0 1 1.481.908c2.321 2.736-1.533 9.746-8.609 15.658S3.638 31.619 1.317 28.883a2.85 2.85 0 0 1-.625-1.445c-.055.172-.116.341-.165.514 0 0-6.112 18.143 23.261 34.972s49.835-1.415 52.2-3.313C78.6 57.525 94.419 41.784 88.8 36.637z" fill="#fff"/>
                    <path d="M2.526 25.118c1.41 1.662 7.166-.846 12.857-5.6S24.545 9.562 23.135 7.9c-1.119-1.319-4.981-.008-9.374 2.969 0 0-2.737-1.428-3.025-3.8-.23-1.9.042-5.266-.3-6.237-.003-.19-.07-.374-.19-.522-.63-.742-2.622-.106-4.449 1.42s-2.8 3.366-2.169 4.108c0 0 1.267 5.746 4.577 9.5h0c-4.426 4.191-6.908 8.331-5.679 9.78z" fill="#193a13"/>
                </svg>
                <span class="grade"></span>
            </div>
            <div class="index">
                PEPPER<br><span>INDEX</span>
            </div>
            <div class="score">
                <span id="s-pepper">--</span> / 100
            </div>
            <a href="https://muchas-glacias.com" id="link2Share" class="material-icons-outlined hidden" title="Partager mes résultats" target="_blank" rel="noopener">share</a>
        </div>
    </div>
    <div class="links">
        <span onclick="contentToggle('moreInfo','whyTest')">Comprendre mes résultats</span><span>&nbsp;|&nbsp;</span><span onclick="contentToggle('whyTest','moreInfo')">Pourquoi Tester ?</span>
    </div>
    <a href="{{ ref . "contact" }}" class="callme">Une question ? Contactez-nous</a>
</section>

{{ $cols := split .Content "|||||" }}
<section id="moreInfo" class="content hidden">
    {{ index $cols 0 | safe.HTML }}
</section>

<section id="whyTest" class="content hidden">
    {{ index $cols 1 | safe.HTML }}
</section>
{{ end }}